.formWrapper {
    margin: 20px 0;
}

.inputWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    div {
        width: 45%;
    }
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
}

.submitButton {
    width: 45%;
    padding: 10.5px;
    margin-top: 23px;
    border: 0;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    background: #2464ad;
    cursor: pointer;
}

.submitButton:hover {
    opacity: .8;
}