.container {
  margin-top: 40px;
  display: flex;
  // flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 40px;
}
.formWrapper {
  max-width: 984px;
  width: 100%;
  .label {
    @extend .medium-18;
  }
}

.choiceWrapper {
  margin: 20px 0;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e4e7ec;

  .userType {
    @extend .medium-20;
    max-width: 100px;
    color: #d0d5dd;
    cursor: pointer;
  }
  .active {
    color: #101828;
  }
}
