.orders_header {
    width: 100%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    .nav {
        margin: 0 15px;
        padding: 10px;
        color: #2d2d2d;
        text-decoration: none;
        border-radius: 3px;
    }
    .nav:first-child {
        margin-left: 0;
    }
    .nav:last-child {
        margin-right: 0;
    }
    .active_nav {
        background-color: rgba(20, 20, 20, .8);
        color: #f1f1f1;
    }
}