.wrapper {
    background: #f1f1f1;
    max-height: 100px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    position: relative;
    height: 60px;
}

.linksWrapper {
    a {
        text-decoration: none;
        color: #2d2d2d;
        font-weight: 500;
    }
    display: flex;
    align-items: center;
    gap: 40px;
}

.userButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    height: 35px;
    width: 35px;
    background: white;
    cursor: pointer;
    border-radius: 3px;
}